body{
  font-family: 'Roboto', sans-serif;
}
/* -------------MIX---------------- */
.list-inline{
  margin-bottom: 0px;
}
.d_inline{
  display: inline-block;
}
/* ----------btn---------- */
#btn_sign{
  color: #006aff;
  border: 2px solid #006aff;
  padding: 5px 10px;
}
#btn_sign:hover{
  color: white;
  background-color: #006aff;
}
.btn_mobile{
  background-color: transparent;
  color: #006aff;
}
.btn_mobile i{
  font-size: 18px;
}
.btn-account{
  background-color: #006aff;
  color: white;
  border: 1px solid #006aff;
  font-weight: 500;
}
.btn-account:hover{
  color: #006aff;
  background-color: white;
}
.btn-google{
  background-color: white;
  box-shadow: 1px 1px 2px 2px lightgrey;
  font-weight: 500;
}
.btn-google span img{
  height: 20px;
  position: absolute;
  left: 50px;
}
/* ----------/btn---------- */
/* -------------/MIX---------------- */
/* -------HEADER: NAV + HERO----------- */
/* ------nav------ */
.header_top{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.logo img{
  height: 30px;
}
.main_nav, .login_nav{
  display: inline-block;
}
.main_nav li, .login_nav li{
  margin-right: 8px;
}
.main_nav li a, .login_nav li a{
  color: hsl(221, 93%, 16%);
  font-size: 14px;
  font-weight:500;
}
.main_nav li a:hover, .login_nav li a:hover{
  text-decoration: none;
}
/* ------/nav------ */
/* ------hero------ */
.hero{
  background-image: url("../img/bg-hero.svg");
  background-size: cover;
  background-position: center;
  padding-top: 160px;
  padding-bottom: 80px;
}
.hero_text{
  color: white;
  background-color: transparent;
  max-width: 85%;
  line-height: 25px;
}
.hero_text h1{
  font-size: 50px;
  font-weight: bold;
}
.hero_text p{
  font-size: 20px;
  font-weight: 500;
}
.hero_google{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.hero_google h4, .hero_google h5{
  font-size: 25px;
  font-weight: 700;
}
.hero_google h5{
  color: #006aff;
}
.hero_google form{
  text-align: left;
}
.hero_google form input, .hero_google form button{
  width: 100%;
  margin: 5px auto;
}
.hero_google form input{
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
}
/* ------/hero------ */
/* -------/HEADER: NAV + HERO----------- */
/* ----------------CORPO DELLA PAGINA------------- */
/* section 1 "sponsor" */
.sponsor{
  background-color: #f3f5f9;
  padding: 50px 0px;
}
.sponsor h5{
  font-size: 18px;
  color: grey;
}
.sponsor p, .sponsor p a{
  color: #006aff;
  font-size: 16px;
  font-weight: 500;
}
.box_img_sponsor{
  width: calc((100% - 24px) / 6);
  padding: 10px;
}
.box_img_sponsor img{
  width: 100%;
  height: auto;
}
/* /section 1 "sponsor" */

/* ----------------/CORPO DELLA PAGINA------------- */
/* Media QUery */
@media screen and (max-width: 768px) {
  .box_img_sponsor{
    width: calc((100% - 24px) / 2);
    padding: 10px;
  }
}
/* Media QUery */
